@using GHGHGym.Infrastructure.Data.Models.Enums
@model EditCategoryViewModel
@{
    ViewBag.Title = "Add Category";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-area="Admin" asp-controller="Category" asp-action="Edit" method="post">
            <div class="mb-3">
                <label asp-for="@Model.Name" class="form-label">Name</label>
                <input asp-for="@Model.Name" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                 <label asp-for="@Model.CategoryType">Category Type</label>
                <i class="fa-solid fa-caret-down" data-fa-transform="down-32 right-499"></i>
                <select asp-for="@Model.CategoryType"  class="form-control">
                    @foreach (var gender in (CategoryType[])@Enum.GetValues(typeof(CategoryType)))
                    {
                        <option value="@gender">@gender</option>
                    }
                </select>
                <span asp-validation-for="@Model.CategoryType" class="text-danger"></span>
            </div>
            <div class="mb-3">
                 <label asp-for="@Model.ParentCategoryId">Parent Category</label>
                <i class="fa-solid fa-caret-down" data-fa-transform="down-32 right-487"></i>
                <select asp-for="@Model.ParentCategoryId"  class="form-control">
                    @foreach (var category in @Model.ParentCategories)
                    {
                        <option value="@category.Id">@category.Name - @category.Type</option>
                    }
                    <option value=@null>None</option>
                </select>
                <span asp-validation-for="@Model.ParentCategoryId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for=@Model.CategoryId value="@Model.CategoryId" />
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Edit" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}