@using System.Security.Claims
@model IEnumerable<CommentViewModel>
<link rel="stylesheet" href=~/css/comment.css />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
<div id="CommentContainer">
    @foreach (var comment in Model)
    {
        <div class="media">
            @*<img class="mr-3" src="..." alt="Generic placeholder image">*@
            <div class="comment-container">
                <div class="media-body">
                    <div class="name-text-position">
                        <h5 class="mt-0">@comment.UserName</h5>
                        <p>@comment.Text</p>
                    </div>
                    @{
                        var userId = User.Claims?.FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier)?.Value.ToLower();
                        if (userId == comment.UserId?.ToLower() || User.IsInRole("Administrator"))
                        {
                            <div class="a-position">
                                <a asp-controller="Comment" asp-action="EditTrainerComment" asp-route-commentId="@comment.Id" asp-route-text="@comment.Text" asp-route-postId="@comment.TrainerId" asp-route-userId="@comment.UserId" asp-route-returnUrl="@Context.Request">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <a asp-controller="Comment" asp-action="DeleteTrainer" asp-route-commentId="@comment.Id" asp-route-productId="@comment.ProductId">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    }
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"></script>
