@model IEnumerable<ProductViewModel>
@{
    ViewBag.Title = "All Products";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var product in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <img class="card-img-top" style="width: 18rem;"
             src="@product.ImageUrls.FirstOrDefault()" alt="Product Image">
            <div class="card-body">
                @if (User.IsInRole("Administrator"))
                {
                    <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                }
                <h5 class="card-title mt-1">@product.Name</h5>
                <p class="mb-0">Price: €@product.Price</p>
                <form class="input-group-sm" asp-controller="Product" asp-action="ProductById" asp-route-productId="@product.Id">
                    <input type="submit" value="More info" class="fs-6 btn btn-success mb-3 p-2" />
                </form>
            </div>
        </div>
    }
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"></script>
